
#fullbodyy{
	!background-color:red;
	height:980px; width:970px;margin:0px 20px 0px 195px;display:block;
	margin-top:10px;
}

#contentt{
	background-color:#F7F7F7;
	height:353px; width:970px;
}
.logi{
	background-color:#F7F7F7;
	height:850px;
	width:970px;
}